.DS_Store
node_modules/
lib/
generated/
coverage/
android/.gradle/
android/build/
android/local.properties
ios/Pods/
ios/build/
example/node_modules/
example/ios/Pods/
example/ios/Podfile.lock
example/android/.gradle/
.idea/
*.iml
*.jks
*.keystore
.env*
!.env.example
